<div class="section">
    <div class="row center">
        <h5 class="header col s12 light grey-text">为您推荐的兴趣小组</h5>
    </div>

    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://qqmgs.com/img/Uploads/0580ddc4-b59b-4983-8ff0-f63f48859b31_13262667816506.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">午夜综合楼<i class="material-icons right">more_vert</i></span>
                    <p>
                        <a href="@Url.Action("Get", new {groupId=3, p=1})">进入讨论</a>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://qqmgs.com/img/Uploads/56bc6bef-41aa-4800-8dc4-2e10f521bb02_20131108111102-1464680280.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">钱江湾射击俱乐部<i class="material-icons right">more_vert</i></span>
                    <p>
                        <a href="@Url.Action("Get", new {groupId=1, p=1})">进入讨论</a>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://qqmgs.com/img/Uploads/2d66b1d6-798d-4444-ab62-6072e477177f_200810081532041.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">金沙港约饭俱乐部<i class="material-icons right">more_vert</i></span>
                    <p>
                        <a href="@Url.Action("Get", new {groupId=2, p=1})">进入讨论</a>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    </div>
</div>
