@{
    Layout = "~/Views/Shared/_Materize_Layout.cshtml";
}

<div class="section no-pad-bot">
    <div class="container">
        <div class="row center">
            <div class="input-field col s10">
                <input type="text" id="autocomplete-input" class="autocomplete" placeholder="热门搜索： 商大单身狗">
            </div>
            <div class="input-field col s2">
                <input class="btn btn-default" type="submit" value="搜索一下" />
            </div>
        </div>
    </div>
</div>