@{
    ViewBag.Title = "PhotoView";
    Layout = "~/Views/Shared/_Materize_Layout.cshtml";
}

<div class="body-content-index-tweet">

    <div class="row" style="padding-top: 5px; margin-bottom: 0px">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" style="color: #71767a;" href="#layout1">最近上传</a></li>
                <li class="tab col s3"><a style="color: #71767a;" href="#layout2">照片分类</a></li>
                <li class="tab col s3"><a style="color: #71767a;" href="#layout3">我的照片</a></li>
                <li class="tab col s3"><a style="color: #71767a;" href="#layout4">上传照片</a></li>
            </ul>
        </div>
        <div id="layout1" class="col s12" style="background-color: #f5f8fa">
            <br />
            @{ Html.RenderPartial("PhotoPartialView"); }
        </div>
        <div id="layout2" class="col s12">During contruction</div>
        <div id="layout3" class="col s12">During contruction</div>
        <div id="layout4" class="col s12">
            <br />
            @{ Html.RenderPartial("Upload");}
        </div>
    </div>


</div>