<div class="body-content-index-tweet">
    <div class="container">
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("Upload", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="file-field input-field col s4">
                        <div class="btn">
                            <span>照片</span>
                            <input type="file" name="File">
                        </div>
                        <div class="file-path-wrapper show-on-large show-on-medium hide-on-small-and-down">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <div class="input-field col s8">
                        <input id="description" type="text" class="validate" name="Description">
                        <label for="description">照片的描述...</label>
                    </div>
                    <div class="row center">
                        <div class="input-field col s6 offset-s3">
                            <select class="browser-default" name="Classcification">
                                <option value="Ohter" disabled selected>选择图片分类(可选)</option>
                                <option value="View">风景</option>
                                <option value="Food">美食</option>
                                <option value="Portrait">人像</option>
                                <option value="Art">艺术</option>
                                <option value="Ohter">其他</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row center">
                    <div style="margin-bottom: 10px">
                        <a>Note: 图片最大不能超过 3MB 哦</a>
                        <br/>
                        <a>超过大小的图片请自行剪裁(●'◡'●)</a>
                    </div>
                    <br/>
                    <div class="col s12">
                        <input class="waves-effect waves-light btn" type="submit" value="分享" />
                    </div>
                </div>
            }
        }
        else
        {
            <h5>你需要首先登陆全球某工商才能post,请点击 <a href="@Url.Action("Login", "Account", new {returnUrl = @Url.Action("index", "Photo")})">登陆</a></h5>
        }
        <br />
        <br />
    </div>
</div>