@using PagedList
@using PagedList.Mvc
@using Twitter.App.Models.ViewModels
@model IEnumerable<Twitter.App.Models.ViewModels.TweetViewModel>
@{
    Layout = "~/Views/Shared/_Materize_Layout.cshtml";
}

<div class="hide-on-med-and-up">
    @{
        Html.RenderPartial("MobileTweetsIndex", Model);
    }
</div>

<div class="hide-on-small-and-down">
    @{
        Html.RenderPartial("PCTweetsIndex", Model);
    }
</div>

@*<div class="hide-on-med-and-up" style="background:#26a69a; height:70px; width: 100%; position: fixed; bottom: 0;">
        <a href="@Url.Action("CreateTweet", "Tweets", new {groupId = $"{ViewData["GroupId"]}"})" style="color: #ffffff; display: block; height: 100%; text-align: center; line-height: 70px; font-size: 3rem;">发言</a>
    </div>*@
