@using Twitter.App.Constants
@model IEnumerable<Twitter.App.Models.ViewModels.GroupVieModels>

@foreach (var group in Model)
{
    <div>
        @if (group.HasImageOverview)
        {
            <img style="max-width: 42px" class="left" src="~/img/Uploads/Thumbnails/@group.ImageOverview" alt="">
        }
        else
        {
            <img style="max-width: 42px" class="left" src=@Constants.Based64GroupOverviewImage alt="">
        }
    </div>

    <a href="@Url.Action("Get", new {groupId = group.Id, p = 1})" class="collection-item">
        <div style="text-align: left; margin-left: 30px; ">
            @group.Name
            <small class="hide-on-small-and-down"> · 最后更新: @group.LastTweetUpdateTime.ToString("M")</small>
            <span class="new badge" data-badge-caption="条讨论">@group.TweetsCount</span>
        </div>
    </a>
}