@using (Html.BeginForm("InviteUserToGroup", "Group", FormMethod.Post, new { @class = "form-horizontal row", role = "form"}))
{
    @Html.AntiForgeryToken()

    <form>
        <div class="input-field col s8" style="margin: auto; max-width: 200px">
            <i class="material-icons prefix" style="font-size: 1.8rem; margin-top: 5%">phone</i>
            <input placeholder="输入好友姓名" id="user_phone_number" type="text" class="validate" name="UserName">
        </div>
        <input id="hidden_group_id_property" type="text" name="GroupId" value="@ViewData["GroupId"]" style="display: none !important;">
        <div class="form-group col s4">
            <input type="submit" value="邀请加入" class="awesome-button" style="padding-top: 6px; padding-bottom: 6px; padding-left: 15px; padding-right: 15px" />
        </div>

    </form>
}