@model bool

@helper Selected(bool isDisplay)
{
if (isDisplay)
{
        @:checked="checked"
    }
}

@using (Html.BeginForm("SetGroupVisibility", "Group", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <form>
        <input class="displayCheck" type="checkbox" id="isDisplay" @Selected(Model) name="IsDisplay" onclick="this.form.submit();">
        <label for="isDisplay">公开展示兴趣小组</label>
        <input id="hidden_group_id_property" type="text" name="GroupId" value="@ViewData["GroupId"]" style="display: none !important;">
    </form>
}