<div class="section no-pad-bot" id="index-banner" style="background-color: #f5f8fa">
    <div class="container">
        <div class="row center">
            <h5 class="header col s12 light" style="text-shadow: 1px 1px 2px #ccc;">测测你的浙小商指数 - 第一题</h5>
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-image hide-on-small-and-down">
                        <img src="~/img/Photo/left_view.jpg" alt="">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>下列命题为假命题的是（）</p>
                            <ul style="text-align: left; display: inline-block">
                                <li class="row" style="margin: auto;">
                                    <p class="left">
                                        <input class="with-gap" name="group" type="radio" id="test1" />
                                        <label for="test1">A.浙江工商大学男女比例7:3</label>
                                    </p>
                                </li>
                                <li class="row" style="margin: auto;">
                                    <p class="left">
                                        <input class="with-gap" name="group" type="radio" id="test2" />
                                        <label for="test2">B.浙江工商大学厕所24小时不间断有厕纸供应</label>
                                    </p>
                                </li>
                                <li class="row" style="margin: auto;">
                                    <p class="left">
                                        <input class="with-gap" name="group" type="radio" id="test3" />
                                        <label for="test3">C.世界上有两大鸽子广场，一个在英国伦敦一个在浙商大</label>
                                    </p>
                                </li>
                                <li class="row" style="margin: auto;">
                                    <p class="left">
                                        <input class="with-gap" name="group" type="radio" id="test4" />
                                        <label for="test4">D.钱江湾和金沙港是异地恋</label>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="card-action">
                            <a href="@Url.Action("NextQuestion", new {cur = Model})">下一题</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
