@{
    Layout = "~/Views/Shared/_Materize_Layout.cshtml";
}

<div class="section no-pad-bot" id="index-banner" style="background-color: #f5f8fa">
    <div class="container">
        <div class="row center">
            <h5 class="header col s12 light" style="text-shadow: 1px 1px 2px #ccc;">提交答案成功</h5>
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-image hide-on-small-and-down">
                        <img src="~/img/Photo/left_view.jpg" alt="">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>测试结果:</p>
                            <p>100 分 （恭喜你，100%的浙小商，赶快来全球某工商寻找你的兴趣吧！）</p>
                            <br/>

                            <img style="max-width: 300px" src="~/img/Photo/huang.gif" alt=""/>

                            <p style="font-size: 12px">如果觉得开发人员不够<a style="color: red; font-weight: bold">走心</a>，<a style="font-size: 18px" href="@Url.Action("Get", "Group", new {groupId = 3, p = 1})">点此吐槽 !</a></p>
                            <p style="font-size: 12px">如果觉得开发人员很<a style="color: red; font-weight: bold">走心</a>，<a style="font-size: 18px" href="@Url.Action("Get", "Group", new {groupId = 3, p = 1})">点此表扬 !</a></p>
                        </div>
                        <div class="card-action">
                            <a href="@Url.Action("About", "Home")">点击进入全球某工商大门</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
