@model Twitter.App.Models.ViewModels.ReplyViewModel

<div class="panel panel-default" id="@($"ReplyPanel{@Model.Id}")">
    <div class="panel-body" id="@($"ReplyText{@Model.Id}")">
        <p class="reply-text">@Model.Text</p>
        <p class="reply-text" style="float: right">Successful comment on @DateTime.Now.ToString("G")</p>
    </div>
</div>
