@model Twitter.App.Models.ViewModels.ReplyViewModel

<li class="mdl-list__item mdl-list__item--three-line" style="height: 65px">
    <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-avatar">person</i>
        <span>
            @Model.Author
            <span style="font-size: 12px; color: gray">@Resources.Now</span>
        </span>

        <span class="mdl-list__item-text-body">
            @Model.Text
        </span>
    </span>
</li>