@model Twitter.App.Models.ViewModels.CourseReviewVideModel

<li class="collection-item avatar">
    <img src="http://qqmgs.com/img/Uploads/Thumbnails/e8a34e65-152e-4258-9f5d-35b1b6346ffb_IMG_20141004_132528.jpg" alt="" class="circle">
    <span class="title">课程名： @Model.Course</span>
    <p>
        授课老师： @Model.Teacher <br>
        @Model.Comment <br>
        <a>感谢周磊同学提供</a>
        <div>
            <a>80%</a> 的同学的很准 共有 <a>6</a> 个同学喜欢
        </div>
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
</li>