@model Twitter.App.Models.ViewModels.ExternalLoginListViewModel
<h4>Why TwitterV?</h4>
<hr />
<div>
    <p style="font-size: 20px">
        Because TwitterV is reliable !
    </p>
    <p style="font-size: 15px">
    Remarks: Twitter V Project 为 QQmgs.com 旗下非盈利性项目。 QQmgs.com 目前由周磊先生持股100%。
</p>
</div>
