@{
    ViewBag.Title = "Confirm Email has been sent";
}
<h2>@ViewBag.Title.</h2>

<div class="container body-content-index-tweet">
    <div>
        <p>
            Thank you for register QQmgs.com. Please check your mail to register your account.
        </p>
        <p>
            For some cases, our system mail may be in your junk mail list, if you cannot find our confirm mail, you can hava a look.
        </p>
        <p>
            Also, you can surf in the QQmgs.com right now without confirm password which is used for resetting password.
        </p>
    </div>
</div>