@model IEnumerable<Twitter.App.Models.ViewModels.PhotoViewModel>

<html ng-app="App">
<head>
    <script src="~/Scripts/qqmgs/angular.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <base href="~/img/Uploads/Thumbnails/">
</head>
<body ng-controller="ImageLayout">
    <script language="javascript">
        angular.module('App', []).controller('ImageLayout', ImageLayout);

        $url = window.location.href;
        $photoUrl = $url.replace(/photo/i, 'api/queries/photo');

        function ImageLayout($scope, $http) {
            $http.get($photoUrl)
                .success(function (imgs) {
                    $scope.imgs = imgs.items;
                });
        }
    </script>
    <style>
        section {
            display: flex;
            flex-wrap: wrap;
        }

            section::after {
                content: '';
                flex-grow: 999999999;
            }

        img {
            position: absolute;
            top: 0;
            width: 100%;
            vertical-align: bottom;
        }

        .img-box {
            position: static;
            height: 5rem;
            width: 5rem;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }

            .img-box img {
                position: absolute;
                top: 0;
                width: 100%;
                vertical-align: bottom;
            }

            .img-box:hover .fade {
                top: 0;
                opacity: 1;
            }

            .img-box .fade {
                position: absolute;
                top: 100%;
                opacity: 0;
                left: 0;
                right: 0;
                background: linear-gradient(to top, transparent 0%, rgba(0,0,0,0.5) 100%);
                height: 12%;
                width: 100%;
                min-height: 48px;
                color: #fff;
                text-align: center;
                padding-top: 0.8rem;
                box-sizing: border-box;
                line-height: 1rem;
                transition: opacity 0.6s;
                -webkit-transition: opacity 0.6s;
                -moz-transition: opacity 0.6s;
            }

                .img-box .fade .text {
                    font-size: 14px;
                    line-height: 1.4em;
                    display: inline-block;
                    font-weight: bold;
                }

                .img-box .fade .sub {
                    font-size: 10px;
                    display: inline-block;
                }
    </style>
    <section>
        <div ng-repeat="img in imgs" style="width:{{img.width*260/img.height}}px;flex-grow:{{img.width*260/img.height}};margin: 2px; background-color: #f5f8fa; position: relative; overflow: hidden;">
            <div class="img-box">
                <i style="padding-bottom:{{img.height/img.width*100}}%;display: block;"></i>
                <img src="{{img.name}}" alt="">
                <div class="fade">
                    <div class="text">{{img.description}}</div>
                    @*<div class="sub">{{img.author}} posted on {{img.date_posted}}</div>*@
                </div>
            </div>
        </div>
    </section>
</body>
</html>