@{
    var imagePath = "";
    if (Request["photoChoice"] != null)
    {
        imagePath = Request["photoChoice"];
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>Display Image on the Fly</title>
</head>
<body>
<h1>Displaying an Image On the Fly</h1>
    
<form method="post" action="">
        <div>
            I want to see:
            <select name="photoChoice">
                <option value="FlowerInZJSU.jpg">Photo 1</option>
                <option value="Sun_Flower_in_ZJSU.jpg">Photo 2</option>
                <option value="FlowerInZJSU.jpg">Photo 3</option>
            </select>
            &nbsp;
            <input type="submit" value="Submit" />
        </div>
        <div style="padding:10px;">
            @if (imagePath != "")
            {
                <img src="~/img/Photo/@imagePath" alt="Sample Image" width="300px" />
            }
        </div>
    </form>
</body>
</html>