@{
    Layout = "~/Views/Shared/_Materize_Layout.cshtml";
}

<div class="section no-pad-bot" id="index-banner" style="background-color: #f5f8fa">
    <div class="container">
        <div class="row center">
            <h5 class="header col s12 light" style="text-shadow: 1px 1px 2px #ccc;">提交答案成功</h5>
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-image hide-on-small-and-down">
                        <img src="~/img/Photo/left_view.jpg" alt="">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>此次测试作为保密测试，不会公开测试结果，也不会告诉你，仅作为商大学生普及智商测试，尽请谅解。</p>
                        </div>
                        <div class="card-action">
                            <a href="@Url.Action("Index", "Group")">点击打开进入全球某工商的大门</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
