

<div class="section no-pad-bot" id="index-banner" style="background-color: #f5f8fa">
    <div class="container">
        <div class="row center">
            <h5 class="header col s12 light" style="text-shadow: 1px 1px 2px #ccc;">要想成功注册全球某工商的五道必答题 - 第四题</h5>
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-image hide-on-small-and-down">
                        <img src="~/img/Photo/left_view.jpg" alt="">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>请写出墨湖主要成分的化学式。</p>
                            <ul>
                                <li class="row" style="margin: auto; margin-left: 5%">
                                    <p class="left">
                                        <input class="with-gap" name="choice1" type="radio" id="test1" />
                                        <label for="test1">A.<img src="http://global.bing.com/th?id=Ae47a0fd12106602bf1d592a8f0c69005&w=110&h=110&c=7&rs=1&qlt=80&pcl=f9f9f9&cdv=1&pid=16.1"></label>
                                    </p>
                                </li>
                                <li class="row" style="margin: auto; margin-left: 5%">
                                    <p class="left">
                                        <input class="with-gap" name="choice2" type="radio" id="test2" />
                                        <label for="test2">B.<img src="http://www.bmrb.wisc.edu/metabolomics/standards/lignin_cw_compound_2034/lit/jr_2034.png" width="110"/></label>
                                    </p>
                                </li>
                                <li class="row" style="margin: auto; margin-left: 5%">
                                    <p class="left">
                                        <input class="with-gap" name="choice3" type="radio" id="test3" />
                                        <label for="test3">C.<img src="https://alkiraenvironmentalscience.wikispaces.com/file/view/350px-Water_molecule.png/405021270/350px-Water_molecule.png" width="110"/></label>
                                    </p>
                                </li>
                                <li class="row" style="margin: auto; margin-left: 5%">
                                    <p class="left">
                                        <input class="with-gap" name="choice4" type="radio" id="test4" />
                                        <label for="test4">D.<img src="http://www.bmrb.wisc.edu/metabolomics/standards/lignin_cw_compound_3053/lit/jr_3053.png" width="110"/></label>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="card-action">
                            <a href="@Url.Action("NextQuestion", new {cur = Model})">下一题</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
