
<div class="section no-pad-bot" id="index-banner" style="background-color: #f5f8fa">
    <div class="container">
        <div class="row center">
            <h5 class="header col s12 light" style="text-shadow: 1px 1px 2px #ccc;">要想成功注册全球某工商的五道必答题 - 第二题</h5>
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-image hide-on-small-and-down">
                        <img src="~/img/Photo/left_view.jpg" alt="">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>浙江工商大学占地面积2023亩，建筑面积80万平方米，阡陌交通，风景秀丽。
                                <br/>
                            以下哪条路未曾出现在下沙教学区的校园中（）</p>
                            <ul>
                                <li class="row" style="margin: auto; margin-left: 5%">
                                    <p class="left">
                                        <input class="with-gap" name="choice1" type="radio" id="test1" />
                                        <label for="test1">A.春华路</label>
                                    </p>
                                </li>
                                <li class="row" style="margin: auto; margin-left: 5%">
                                    <p class="left">
                                        <input class="with-gap" name="choice2" type="radio" id="test2" />
                                        <label for="test2">B.花园路</label>
                                    </p>
                                </li>
                                <li class="row" style="margin: auto; margin-left: 5%">
                                    <p class="left">
                                        <input class="with-gap" name="choice3" type="radio" id="test3" />
                                        <label for="test3">C.保研路</label>
                                    </p>
                                </li>
                                <li class="row" style="margin: auto; margin-left: 5%">
                                    <p class="left">
                                        <input class="with-gap" name="choice4" type="radio" id="test4" />
                                        <label for="test4">D.秋实路</label>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="card-action">
                            <a href="@Url.Action("NextQuestion", new {cur = Model})">下一题</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
