

<div class="section no-pad-bot" id="index-banner" style="background-color: #f5f8fa">
    <div class="container">
        <div class="row center">
            <h5 class="header col s12 light" style="text-shadow: 1px 1px 2px #ccc;">测测你的浙小商指数 - 第五题</h5>
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-image hide-on-small-and-down">
                        <img src="~/img/Photo/left_view.jpg" alt="">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>请写出我校六月开花的植物名称（不少于三种）以及赏花地点。</p>
                            <ul style="text-align: left; display: inline-block">
                                <li class="row" style="margin: auto;">
                                    <p class="left">
                                        <input class="with-gap" name="group" type="radio" id="test1" />
                                        <label for="test1">A.油菜花-油菜花地，向日葵-向日葵地，樱花-现教中心</label>
                                    </p>
                                </li>
                                <li class="row" style="margin: auto;">
                                    <p class="left">
                                        <input class="with-gap" name="group" type="radio" id="test2" />
                                        <label for="test2">B.油菜花-向日葵地，向日葵-向日葵地，樱花-现教中心</label>
                                    </p>
                                </li>
                                <li class="row" style="margin: auto;">
                                    <p class="left">
                                        <input class="with-gap" name="group" type="radio" id="test3" />
                                        <label for="test3">C.樱花-现教中心，梅花-鸽子广场，荷花-碧湖</label>
                                    </p>
                                </li>
                                <li class="row" style="margin: auto;">
                                    <p class="left">
                                        <input class="with-gap" name="group" type="radio" id="test4" />
                                        <label for="test4">D.校花-???，薰衣草-求知泉，荷花-墨湖</label>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="card-action">
                            <a href="@Url.Action("QuestionSubmit", new {cur = Model})">提交</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
