@model Twitter.App.Models.ViewModels.ExternalLoginListViewModel
<h4>What's TwitterV?</h4>
<hr />
<div>
    <p style="font-size: 20px">
        It's a Website like the real Twitter and users can send "twitter" and view others' "twitter" freely.
    </p>
</div>
