@{
    ViewBag.Title = "确认验证邮箱";
}

<div class="container body-content">
    <h2>@ViewBag.Title.</h2>
    <div class="container body-content-index-tweet">
        <div>
            <p>
                感谢您验证邮箱， @Html.ActionLink("点我进入全球某工商", "Index", "Home", null, null)
            </p>
        </div>
    </div>
</div>
