@{
    ViewBag.Title = "Confirm Email has been sent";
}

<div class="container body-content">
    <h2>@ViewBag.Title.</h2>
    <div class="container body-content-index-tweet">
        <div>
            <p>
                Thank you for register QQmgs.com. Please check your mail to register your account.
            </p>
            <p>
                Click <a href="@Url.Action("Index", "Group")">Here</a> to start chatting with us !
            </p>
        </div>
    </div>
</div>

