@model dynamic
@{
    ViewBag.Title = "验证商大邮箱";
    Layout = "~/Views/Shared/_Login_Layout.cshtml";
}

<div class="index-main" style="position: relative; z-index: 1">
    <div class="index-main-body">
        <div class="index-header">
            <h1 style="font-size: 60px; margin-top: 0px">全球某工商</h1>
            <h2 class="subtitle">连接每一位商大师生</h2>
        </div>
        <div class="desk-front sign-flow clearfix sign-flow-simple">
            <div class="index-tab-navs">
                <div class="navs-slider" data-active-index="0">
                    <a href="#" class="active" style="width: 6em">浙小商验证</a>
                    <span class="navs-slider-bar" style="width: 4.3em"></span>
                </div>
            </div>
            <div class="view view-signup selected" data-za-module="SignUpForm">
                <br />
                <h5 class="center">确认邮件已经发送！</h5>
                <br />
                <h6 class="center">商大邮箱: 初始密码为身份证后六位</h6>
                <div class="QRCode" style="margin-top: 28px">
                    <button class="QRCode-toggleButton" onclick="location.href = 'http://mail.zjgsu.edu.cn'" type="button">
                        <span class="sprite-global-icon-qrcode"></span>
                        <span class="QRCode-toggleButtonText ">进入商大邮箱</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>