@{
    ViewBag.Title = "邮件已经发送";
}

<div class="container body-content">
    <h1>@ViewBag.Title.</h1>
    <div class="container body-content-index-tweet">
        <p>
            请查收注册邮箱。（备注：如果填写错误的手机号码，您也会看到这个页面）
        </p>
    </div>

</div>
    
