body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 25px;
    padding-right: 25px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#tweets {
    margin: 0 auto;
    width: 70%;
}
.paging {
    margin: 0 auto;
    width: 70%;
}
.tweet-options > li {
    display: inline;
    margin: 15px;
}
.tweet-options {
    padding-left: 0px;
}
.tweet-reply {
    display: flex;
}
.tweet-reply > li {
    display: inline;
    margin: 0px;
    margin-left: -28px;

}
.tweet-text {
    margin-top: 10px;
    font-size: 20px;
    font-family: Microsoft YaHei;
}
.tweet-operation {
    color: #ffffff;
    float: right;
    font-family: Microsoft YaHei;
    margin-right: 15px;
}
.reply-text {
    margin-top: 10px;
    font-size: 15px;
    font-family: Microsoft YaHei;
}
#tweet-author {
    margin: 5px;
    font-weight: bold;
    font-size: 14px;
    color: #4582ec;
    font-family: Microsoft YaHei;
}
#tweet-text-time {
    color: #4582ec;
    float: right;
}
.footer-text {
    color: #808080;
}
.panel > .panel-heading {
    background-color: #ffffff;
    color: white;
}
.navbar {
    background-color: #faffff;
    margin: 0px auto;
    padding-right: 24px;
    padding-left: 24px;
}
@media screen and (max-width: 860px) {
    #tweets {
        width: 95%;
    }
    .tweet-options > li {
        font-size: 12px;
        margin: 5px;
    }
}
.index-section {
    padding: 0px;
    padding-top: 40px;
}
