@model IEnumerable<Twitter.App.Models.ViewModels.CourseReviewVideModel>
@{
    Layout = "~/Views/Shared/_Materize_Layout.cshtml";
}

<nav style="background: #009688">
    <div class="nav-wrapper container">
        <div class="col s12">
            <a href="@Url.Action("Index")" class="breadcrumb">@Resources.ReviewCourse</a>
        </div>
    </div>
</nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br>
        <h5 class="center" style="color: orange">Beta 版本，开发小哥正在夜以继日开发 ING</h5>

        <div class="section">

            <div class="row center">
                <h5 class="header col s12 light grey-text">Search interested courses</h5>
            </div>

            <div class="row" style="max-width: 300px; margin: auto">
                @using (Html.BeginForm("Search", "CourseReview", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s9">
                                <input id="input_text" type="text" length="20" name="courseName">
                                <label for="input_text">Type the course to search</label>
                            </div>
                            <div class="input-field col s3">
                                <input style="float: right; padding-left: 5px; padding-right: 5px; margin-left: 30px" class="waves-effect waves-light btn" type="submit" value="Serach" />
                            </div>
                        </div>
                    </form>
                }
            </div>

            <div class="row center">
                <h5 class="header col s12 light grey-text">All the reviews</h5>
            </div>

            <div class="section">
                <ul class="collection" style="max-width: 700px; margin: auto">
                    @foreach (var tweet in Model)
                    {
                        Html.RenderPartial("Review", tweet);
                    }
                </ul>
            </div>

            <br/>

            <div class="row center">
                <h5 class="header col s12 light grey-text">Review course NOW</h5>
            </div>

            @{
                Html.RenderAction("Create");
            }

        </div>

    </div>
</div>
